.paper{
    //background-color: black;
    color:white;
    text-align: center;
    height:50%;
    width:30%;
    position:absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}


.buttonsWrapper{
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:10%;
}

.jishoLink{
    text-align: center;
}

.jishoLink a{
    color:white;
}

.like{
    color:white;
}   


.deleteButtonWrapper{
    color:white;
}