.paper{
    //background-color: black;
    color:white;
    text-align: center;
    height:50%;
    width:30%;
    position:absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}


.buttonsWrapper{
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:10%;
}

.jishoLink{
    width:60px;
    text-align: center;
}

.jishoLink a{
    color:white;
}

.like{
    color:white;
}   


.deleteButtonWrapper{
    width:60px;
    color:white;
}

.examples-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.related_words{
    width:80%;
}

.customIcon{
    color:white;
    background:none;
}

.cardHeader{
    display: flex;
    justify-content: space-between;
    width:90%;
}

.requestTranslation{  
    font-size:xx-large;
}