.paper{
    background-color: black;
    color:white;
    text-align: center;
    height:50%;
    width:30%;
    position:absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.jishoLink{
    color:white;
    position:absolute;
    bottom:2%;
    right:2%;
}