.paper{
    background-color: black;
    color:white;
    text-align: center;
    height:80%;
    width:30%;
    position:absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}

.kanjiInput{
    margin-bottom:5px;
}

.meaningInputsWrapper{
    display:inline;
}

.MuiSlider{
    color:white;
    width: 100%;
}

.MuiSlider-thumb:not(.MuiSlider-active) {
    transition: left 0.2s ease-out;
  }
  
  .MuiSlider-track {
    transition: width 0.2s ease-out;
  }

.newKanjiButton{
    color : #333;
    width:60%;
    background-image: linear-gradient(25deg,#d64c7f,#ee4758 50%);
}

.sliderWrapper{
    width:60%
}

.newCardForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}